aiohttp==3.7.4
asyncio==3.4.3
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.5.30
chardet==3.0.4
discord.py==1.7.3
discord==1.0.1
discord-pretty-help==1.3.1
idna==2.10
idna-ssl==1.1.0
multidict==5.1.0
pip==21.1.2
psutil==5.8.0
python-dotenv==0.17.1
r6sapi==1.4.1
reactionmenu==1.0.9
requests==2.25.1
setuptools==57.0.0
typing-extensions==3.10.0.0
urllib3==1.26.5
valorant==0.4.1
yarl==1.6.3
